.links > li {
    list-style: none;
}

.links > li > a:hover {
    color: rgb(208, 144, 24);
}

a {
    text-decoration: none;
    color: #54616C;
    font-size: 1rem;
}

.logo > a, .toggle_btn {
    font-size: 1.5rem;
    font-weight: 700;
}

.header {
    position: relative;
    /* padding: 0; */
    width: 100vw;
}

.topNav {
    width: 100vw;
    height: 60px;
    /* max-width: 1200px; */
    margin: 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 100px rgba(0, 0, 0, 0.3); */
}

.topNav .links {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.topNav .toggle_btn {
    display: none;
    cursor: pointer;
}

.action_btn {
    background-color: #0A6EBD;
    color: #fff;
    padding: 0.4rem 2rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 1rem;
    /* font-weight: thin; */
    cursor: pointer;
    transition: scale 0.3s ease;
}

.action_btn:hover {
    scale: 1.03;
}

/* DROPDOWN MENU */

.dropdown_menu {
    position: absolute;
    right: 1rem;
    top: 60px;
    width: 300px;
    height: 0;
    background: rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(200px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}
/* 
.dropdown_menu a{
    color: #fff; */
/* } */

.dropdown_menu ul li{
    padding: 0.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu .action_btn {
    width: 100%;
    display: flex;
    justify-content: center;
}


/* Responseive Design */

@media (max-width: 992px) {
    .topNav .links,
    .topNav .action_btn {
        display: none;
    } 

    .topNav .toggle_btn {
        display: block;
    }

    .dropdown_menu {
        display: block;
    }
}