/*                 Hero Section                 */

.topBody {
  height: auto;
  /* width: 100vw; */
  /* padding: 20px; */
  margin-top: 20px;
  margin-left: clamp(1rem, 5vw, 4rem);
  margin-right: clamp(1rem, 5vw, 4rem);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.topBody img {
  width: clamp(40%, 50%, 100%);
  margin-top: -30px;
}

.hero-text {
  width: 100%;
}

.hero-text h1 {
  font-size: clamp(2rem, calc(6vw - 12px), 4rem);
  margin-bottom: 12px;
  font-weight: bold;
  color: #000;
  line-height: clamp(2.5rem, calc(6vw - 6px), 4.6rem);
}

.hero-text p {
  font-size: clamp(1.2rem, calc(1.9vw - 6px), 2.2rem);
  margin-bottom: 12px;
}

.topBody .appointment-btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 4px;
  margin: 8px 8px 8px 0;
  border: 2px solid #0a6ebd;
  background-color: #0a6ebd;
  color: #fff;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  /* box-shadow: 0em -0.2em 0em #016CFF inset; */
  transition: background-color 0.5s ease-in-out;
}

.topBody .appointment-btn:hover {
  background-color: transparent;
  color: #0a6ebd;
  cursor: pointer;
}

/*                Model Selection Section                */

.models {
  display: flex;
  align-items: center;
  justify-content: center;
}

.models button {
  padding: clamp(2rem, calc(6vw - 12px), 4rem);
  border: 2px solid #016cff;
  margin: clamp(2rem, calc(6vw - 12px), 4rem);
  color: #016cff;
}

/* Responsive Design */

@media (max-width: 992px) {
  .topBody {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }
}

@media (max-width: 650px) {
  .topBody img {
    width: 100%;
  }
}
