/*                 Hero Section                 */

.topBody {
  height: auto;
  /* width: 100vw; */
  /* padding: 20px; */
  margin-top: 20px;
  margin-left: clamp(1rem, 5vw, 4rem);
  margin-right: clamp(1rem, 5vw, 4rem);
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.topBody img {
  width: clamp(40%, 50%, 100%);
  margin-top: -30px;
}

.hero-text {
  width: 100%;
}

.hero-text h1 {
  font-size: clamp(2rem, calc(6vw - 12px), 4rem);
  margin-bottom: 12px;
  font-weight: bold;
  color: #000;
  line-height: clamp(2.5rem, calc(6vw - 6px), 4.6rem);
}

.hero-text p {
  font-size: clamp(1.2rem, calc(1.9vw - 6px), 2.2rem);
  margin-bottom: 12px;
}

.topBody .appointment-btn {
  padding: 1em 2.1em 1.1em;
  border-radius: 4px;
  margin: 8px 8px 8px 0;
  border: 2px solid #016cff;
  background-color: #016cff;
  color: #fff;
  font-weight: 800;
  font-size: 0.85em;
  text-transform: uppercase;
  text-align: center;
  /* box-shadow: 0em -0.2em 0em #016CFF inset; */
  transition: background-color 0.5s ease-in-out;
}

.topBody .appointment-btn:hover {
  background-color: transparent;
  color: #016cff;
  cursor: pointer;
}

.wave-img {
  margin-top: 20px;
  width: 100vw;
  height: 100%;
  object-fit: cover;
  /* position: absolute;
  bottom: 0;
  left: 0; */
  z-index: -1;
  opacity: 0.5;
  /* transform: rotate(180deg); */
  /* transform: scaleX(-1); */

}

/*                Model Selection Section                */

.modelSection {
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 20px;
  /* grid-template-rows: auto; */
  /* align-items: center; */
  padding: 50px;
  margin: 100px 0;
  /* justify-items: center; */
}

.models {
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.models > button {
  position: relative;
  padding: clamp(2rem, calc(6vw - 12px), 4rem);
  height: clamp(8rem, calc(20vw - 12px), 12rem);
  width: minmax(clamp(8rem, calc(20vw - 12px), 13rem), 100%);
  border: 2px solid #016cff;
  margin: 0 10px 0 0;
  color: #016cff;
  border-radius: 15px;
  transition: all 0.3s ease;
}

.models > button > p {
  position: absolute;
  top: 10px;
  left: 15px;
  font-size: clamp(0.8rem, calc(1.2vw - 6px), 0.1rem);
}

.models > button:hover {
  cursor: pointer;
  transform: translateY(-10px);
  /* box-shadow: 10px 10px 30px #000; */
}

.modelSection > p {
  font-size: clamp(1.2rem, calc(1.9vw - 6px), 2.2rem);
  height: 100%;
  text-align: center;
}

.modelSection > p > span {
  font-size: clamp(1.4rem, calc(2vw - 6px), 2.5rem);
  font-weight: 700;
}


/* Bottom Body */

.bottomBody {
  /* overflow: scroll; */
}


/* FAQ SECTION  */

.faq {
  margin-top: 100px;
  padding: 50px 0;
  background-color: #272A3D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.faq > h1 {
  font-size: clamp(1.4rem, calc(6vw - 6px), 2.5rem);
  margin-bottom: 12px;
  font-weight: 500;
  color: #fff;
  line-height: clamp(1.4rem, calc(6vw - 6px), 2.5rem);
}

/* Responsive Design */

@media (max-width: 992px) {
  .topBody {
    margin-top: 10px;
    flex-direction: column;
  }
  .hero-text {
    width: 100%;
    text-align: center;
  }

  .modelSection {
    grid-template-columns: 1fr 2fr;
  }
}

@media (max-width: 650px) {
  .topBody img {
    width: 100%;
  }
  .models {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .modelSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}
