.main-container {
  color: #414141;
  background-color: #fff;
}

.max-w-5xl {
  width: 64rem;
}

.left-container {
  width: 49rem;
}
.left-container-video {
  border-radius: 22px;
  overflow: hidden;
  -webkit-transform: translateZ(0);
  box-shadow: 0 19px 51px 0 rgba(0, 0, 0, 0.16),
    0 14px 19px 0 rgba(0, 0, 0, 0.07);
}

.right-container {
  width: 34rem;
}
.right-container-drop {
  border-radius: 22px;
}

.upload-btn {
  background-color: #50b3ff;
}

.upload-btn:hover {
  background-color: #82c9ff;
}
